Flask==3.1.0
Flask-Session==0.8.0
azure-search-documents==11.5.2
azure-cosmos==4.9.0
openai==1.93.0
certifi==2025.1.31
azure-storage-blob==12.25.1
gunicorn==23.0.0
azure-identity==1.23.0
markdown2==2.5.3
